---
import logoImage from '../assets/Website_Logo_Combined.png';
import logoImageDark from '../assets/Website_Logo_Combined_Dark.png';
import meImage from '../assets/me.jpg';
import clsx from 'clsx';

export type Link = {
  name: string;
  href: string;
  key: string;
  dropdown?: { name: string; href: string }[];
};
export interface Props {
    links: Link[];
}
const { links } = Astro.props;

const currentPath = Astro.url.pathname;

// Determine the active tab
let activeTab = "";
if (currentPath.startsWith("/check-it/") || currentPath.startsWith("/fr/check-it/") || currentPath.startsWith("/en/check-it/")) {
    activeTab = "Check-It";
} else if (currentPath.startsWith("/francoquiz/") || currentPath.startsWith("/fr/francoquiz/") || currentPath.startsWith("/en/francoquiz/")) {
    activeTab = "FrancoQuiz";
} else if (currentPath.startsWith("/neoncuber/") || currentPath.startsWith("/fr/neoncuber/") || currentPath.startsWith("/en/neoncuber/")) {
    activeTab = "NeonCuber";
} else if (currentPath.startsWith("/contact/") || currentPath.startsWith("/fr/contact/") || currentPath.startsWith("/en/contact/")) {
    activeTab = "Contact";
} else if (currentPath.startsWith("/others/") || currentPath.startsWith("/fr/others/") || currentPath.startsWith("/en/others/")) {
    activeTab = "Others";
} else {
    activeTab = "Home";
}
---
<style>
  @keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.15); }
    100% { transform: scale(1); }
  }
  .pop-hover {
    display: inline-block;
  }
  .no-pop-hover {
    display: inline-block;
  }

  .pop-hover:hover {
    animation: pop 0.3s ease-in-out;
  }
</style>


  <!-- Overlay -->
  <div
    id="mobile-overlay"
    class="fixed inset-0 bg-black/50 transition-opacity duration-500 opacity-0 backdrop-blur-xs backdrop-saturate-150 z-5 hidden sm:hidden"
    onclick="toggleMenu()"
/>
<nav class="bg-white/80 dark:bg-[#0d1117]/95 backdrop-blur-md border-b border-black/[0.06] dark:border-white/[0.06] shadow-sm z-15">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 ">
    <div class="relative flex h-16 items-center justify-between ">

      <!-- Mobile menu button -->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden p-2">
        <button class="cursor-pointer group inline-flex w-10 h-10 text-mobile-svg dark:text-mobile-svg-dark hover:bg-mobile-menu-hover dark:hover:bg-mobile-menu-hover-dark text-center items-center justify-center rounded hover:shadow-[0_1px_0_theme(colors.slate.950/.04),0_4px_8px_theme(colors.slate.950/.12),inset_0_-2px_0_theme(colors.slate.950/.04)] z-20 transition" 
              id="mobile-menu-bt"
              aria-pressed="false" 
              onclick="toggleMenu()">
          <span class="sr-only">Open main menu</span>
          <svg class="w-6 h-6 fill-current pointer-events-none" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
              <rect class="origin-center -translate-y-[5px] translate-x-[7px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-pressed=true]]:translate-x-0 group-[[aria-pressed=true]]:translate-y-0 group-[[aria-pressed=true]]:rotate-[315deg]" y="7" width="9" height="2" rx="1"></rect>
              <rect class="origin-center transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] group-[[aria-pressed=true]]:rotate-45" y="7" width="16" height="2" rx="1"></rect>
              <rect class="origin-center translate-y-[5px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-[[aria-pressed=true]]:translate-y-0 group-[[aria-pressed=true]]:rotate-[135deg]" y="7" width="9" height="2" rx="1"></rect>
          </svg>
        </button>
      </div>
      
      <!-- Desktop Menu -->
      <div class="relative flex items-center h-16 justify-center sm:w-sm w-full">
        <a href="/">
        <picture>
          <!-- Dark mode image -->
          <source srcset={logoImageDark.src} media="(prefers-color-scheme: dark)" />
          <!-- Light mode fallback -->
          <img
            class="size-8 max-w-full h-auto mx-auto block sm:ml-0 ml-10"
            src={logoImage.src}
            alt="Pierre Mollard Image Logo"
          />
        </picture>
      </a>
      
        <div class="hidden sm:ml-6  sm:flex sm:items-center ">
            <div class="hidden sm:flex space-x-4">
                {links.map((link: Link) => (
                  <div class="relative group">
                    <a
                      href={activeTab === link.key ? undefined : link.href}
                      class={clsx("relative px-3 py-2 text-base font-medium rounded-md whitespace-nowrap", activeTab === link.key
                          ? "bg-navbar-menu-bg-active dark:bg-navbar-menu-bg-active-dark text-navbar-menu-text-active dark:text-navbar-menu-text-active-dark no-pop-hover pointer-events-auto cursor-default"
                          : "text-navbar-menu-text dark:text-navbar-menu-text-dark hover:bg-navbar-menu-bg-hover dark:hover:bg-navbar-menu-bg-hover-dark hover:text-navbar-menu-text-hover dark:hover:text-navbar-menu-text-hover-dark transition-all duration-200 ease-in-out pop-hover")}
                    >
                      {link.name}
                      <span class="absolute inset-0 -m-2"></span> 
                    </a>
                  <!-- Dropdown -->
                  {link.dropdown && (
                    <div class="absolute left-0 w-48 mt-2 bg-navbar-dropdown-bg dark:bg-navbar-dropdown-bg-dark text-on-surface dark:text-on-surface-dark rounded-md shadow-lg opacity-0 scale-95 transition-all duration-200 ease-in-out 
                   pointer-events-none group-hover:opacity-100 group-hover:scale-100 
                   group-hover:pointer-events-auto z-20">
                      {link.dropdown.map(sub => (
                        <a href={sub.href} class="block px-4 py-2 text-base hover:bg-navbar-dropdown-bg-500 dark:hover:bg-navbar-dropdown-bg-500-dark rounded-md transition-all duration-200 ease-in-out">{sub.name}</a>
                      ))}
                    </div>
                  )}
                </div>
              ))}
            </div>
          </div>

      </div>

      <!-- Profile -->
      <div class="relative mr-">
        <a
          href={activeTab === "Contact" ? undefined : "/contact/"}
          class={clsx(
            "flex rounded-full border-2 focus:ring-2 z-15 transition-all duration-200 ease-in-out",
            activeTab === "Contact"
              ? "border-navbar-menu-bg-active dark:border-navbar-menu-bg-active-dark ring-navbar-menu-bg-active dark:ring-navbar-menu-bg-active-dark"
              : "border-transparent focus:ring-navbar-menu-bg-active dark:focus:ring-navbar-menu-bg-active-dark"
          )}
        >
          <img class="size-8 rounded-full" src={meImage.src} alt="Profile" />
        </a>
      </div>

    </div>
  </div>

  <!-- Mobile Menu -->
  <div  
    id="mobile-menu" 
    class="sm:hidden overflow-hidden max-h-0 transition-all duration-500 ease-in-out px-2 pt-0 pb-0 space-y-1 z-20">
      {links.map((link: Link) => (
        <a
        href={activeTab === link.key ? undefined : link.href}
          class={clsx("block rounded-md px-3 py-2 text-base font-medium transition-colors z-21", activeTab === link.key
              ? "bg-navbar-menu-bg-active dark:bg-navbar-menu-bg-active-dark text-navbar-menu-text-active dark:text-navbar-menu-text-active-dark cursor-default"
              : "text-navbar-menu-text dark:text-navbar-menu-text-dark hover:bg-navbar-menu-bg-hover dark:hover:bg-navbar-menu-bg-hover-dark hover:text-navbar-menu-text-hover dark:hover:text-navbar-menu-text-hover-dark")}
        >
          {link.name}
        </a>
      ))}
  </div>

</nav>

<!-- JavaScript -->
<script is:inline>

  document.addEventListener('keydown', (e) => {
    if (e.key === 'Escape') {
      const menu = document.getElementById('mobile-menu');
      const overlay = document.getElementById('mobile-overlay');
      if (menu && overlay) {
        menu.classList.remove('max-h-[500px]', 'pt-2', 'pb-3');
        menu.classList.add('max-h-0', 'pt-0', 'pb-0');
        requestAnimationFrame(() => {
          // Ensures the class change is detected as a transition
          overlay.classList.add('opacity-0');
          overlay.classList.remove('opacity-100');
        });
        const handleTransitionEnd = () => {
          overlay.classList.add('hidden');
          overlay.removeEventListener('transitionend', handleTransitionEnd);
        };
      }

      
      mobileMenuBt.setAttribute("aria-pressed", false);
      mobileMenuBt.classList.add("text-mobile-svg");
      mobileMenuBt.classList.remove("text-mobile-svg-press");
      mobileMenuBt.classList.add("dark:text-mobile-svg-dark");
      mobileMenuBt.classList.remove("dark:text-mobile-svg-press-dark");
    }
  });

  function toggleMenu() {
    const mobileMenu = document.getElementById("mobile-menu");
    const mobileMenuBt = document.getElementById("mobile-menu-bt");
    const overlay = document.getElementById('mobile-overlay');
    
    
    if (mobileMenuBt){
        
        mobileMenuBt.classList.add("text-mobile-svg");
        mobileMenuBt.classList.remove("text-mobile-svg-press");
        mobileMenuBt.classList.add("dark:text-mobile-svg-dark");
        mobileMenuBt.classList.remove("dark:text-mobile-svg-press-dark");
    }

    if (mobileMenu && mobileMenuBt){
      const isOpen = mobileMenu.classList.contains('max-h-[500px]'); 
      mobileMenuBt.setAttribute("aria-pressed", !isOpen);
      if (isOpen) {
        mobileMenu.classList.remove('max-h-[500px]', 'pt-2', 'pb-3');
        mobileMenu.classList.add('max-h-0', 'pt-0', 'pb-0');
        requestAnimationFrame(() => {
          // Ensures the class change is detected as a transition
          overlay.classList.add('opacity-0');
          overlay.classList.remove('opacity-100');
        });
        const handleTransitionEnd = () => {
          overlay.classList.add('hidden');
          overlay.removeEventListener('transitionend', handleTransitionEnd);
        };
        overlay.addEventListener('transitionend', handleTransitionEnd);

        mobileMenuBt.classList.add("text-mobile-svg");
        mobileMenuBt.classList.remove("text-mobile-svg-press");
        mobileMenuBt.classList.add("dark:text-mobile-svg-dark");
        mobileMenuBt.classList.remove("dark:text-mobile-svg-press-dark");

      } else {
        mobileMenu.classList.remove('max-h-0', 'pt-0', 'pb-0');
        mobileMenu.classList.add('max-h-[500px]', 'pt-2', 'pb-3');
        overlay.classList.remove('hidden');
        requestAnimationFrame(() => {
          // Ensures the class change is detected as a transition
          overlay.classList.remove('opacity-0');
          overlay.classList.add('opacity-100');
        });

        mobileMenuBt.classList.remove("text-mobile-svg");
        mobileMenuBt.classList.add("text-mobile-svg-press");
        mobileMenuBt.classList.remove("dark:text-mobile-svg-dark");
        mobileMenuBt.classList.add("dark:text-mobile-svg-press-dark");
      }
    }
  }
</script>
