---
import "../styles/global.css";
import Navbar, { type Link } from "../components/NavBar.astro";
const { title, lang } = Astro.props;

var links: Link[] = [
	{ name: "Home", key: "Home", href: "/" },
	{
		name: "Check-It",
		key: "Check-It",
		href: "/check-it/check-it",
		dropdown: [
			{ name: "Privacy Policy", href: "/check-it/privacy-policy" },
			{ name: "Terms & Conditions", href: "/check-it/terms-conditions" },
			{ name: "Delete Account", href: "/check-it/delete-account" },
		],
	},
	{
		name: "FrancoQuiz",
		key: "FrancoQuiz",
		href: "/francoquiz/francoquiz",
		dropdown: [
			{ name: "Privacy Policy", href: "/francoquiz/privacy-policy" },
			{
				name: "Terms & Conditions",
				href: "/francoquiz/terms-conditions",
			},
		],
	},
	{
		name: "NeonCuber",
		key: "NeonCuber",
		href: "/neoncuber/neoncuber",
		dropdown: [
			{ name: "Privacy Policy", href: "/neoncuber/privacy-policy" },
			{
				name: "Terms & Conditions",
				href: "/neoncuber/terms-conditions",
			},
		],
	},
	{
		name: "Others",
		key: "Others",
		href: "/others/",
		dropdown: [
			{ name: "braille-snake", href: "/others/braille-snake" },
		],
	},
];

if (lang === "fr") {
	links = [
		{ name: "Accueil", key: "Home", href: "/" },
		{
			name: "Check-It",
			key: "Check-It",
			href: "/check-it/check-it",
			dropdown: [
				{
					name: "Politique de Confidentialité",
					href: "/check-it/privacy-policy",
				},
				{
					name: "Conditions Générales",
					href: "/check-it/terms-conditions",
				},
				{
					name: "Supprimer votre compte",
					href: "/check-it/delete-account",
				},
			],
		},
		{
			name: "FrancoQuiz",
			key: "FrancoQuiz",
			href: "/francoquiz/francoquiz",
			dropdown: [
				{
					name: "Politique de Confidentialité",
					href: "/francoquiz/privacy-policy",
				},
				{
					name: "Conditions Générales",
					href: "/francoquiz/terms-conditions",
				},
			],
		},
		{
			name: "NeonCuber",
			key: "NeonCuber",
			href: "/neoncuber/neoncuber",
			dropdown: [
				{
					name: "Politique de Confidentialité",
					href: "/neoncuber/privacy-policy",
				},
				{
					name: "Conditions Générales",
					href: "/neoncuber/terms-conditions",
				},
			],
		},
	{
		name: "Autres",
		key: "Others",
		href: "/others/",
		dropdown: [
			{ name: "braille-snake", href: "/others/braille-snake" },
		],
	},
	];
}
---

<script>
	// If the browser is in french, replace all local links with /fr/ in front and redirect to /fr/ as well

	document.addEventListener("DOMContentLoaded", () => {
		const userLang = navigator.language.split("-")[0];
		const supportedLangs = ["fr", "en"];
		var lang = supportedLangs.includes(userLang) ? userLang : "en";

		document.querySelectorAll("[href]").forEach((el) => {
			const originalHref = el.getAttribute("href");
			const anchor = el as HTMLAnchorElement;

			// Ensure it does not already have a language prefix
			if (
				originalHref &&
				originalHref.startsWith("/") &&
				!originalHref.startsWith("/fr/") &&
				!originalHref.startsWith("/en/") &&
				!originalHref.startsWith("/_astro") &&
				!el.classList.contains("no-localization")
			) {
				// If the language is 'en', don't add the '/en/' prefix
				if (lang === "fr") anchor.href = `/${lang}${originalHref}`;
			}
		});

		// Redirect only if there's no language in the URL
		if (
			!window.location.pathname.startsWith("/fr/") &&
			!window.location.pathname.startsWith("/en/")
		) {
			// If language is 'en', don't add '/en/' to the URL
			if (lang === "fr")
				window.location.href = `/${lang}${window.location.pathname}`;
		}
	});
</script>

<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/x-icon"
			href="/Website_Logo_Combined.ico"
			media="(prefers-color-scheme: light)"
			class="no-localization"
		/>
		<link
			rel="icon"
			type="image/x-icon"
			href="/Website_Logo_Combined_Dark.ico"
			media="(prefers-color-scheme: dark)"
			class="no-localization"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="flex flex-col min-h-screen bg-gray-100 dark:bg-gray-900 text-on-surface dark:text-on-surface-dark"
	>
		<Navbar links={links} />
		<main class="flex-grow w-full flex flex-col overflow-y-auto">
			<slot />
		</main>
	</body>
	<footer>
		<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8 pb-2.5">
			<div
				class="mt-4
				pt-4
				text-center
				text-sm
				text-on-surface
				dark:text-on-surface-dark
				border-t
				border-on-surface-weak
				dark:border-on-surface-weak-dark"
			>
				© 2025 Pierre Mollard. All rights reserved.
			</div>
		</div>
	</footer>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
